@(request: play.mvc.Http.Request)
<!DOCTYPE html>

<html>
    <style>
            table, th, td {
                border:1px solid black;
            }
            body{
                padding: 5%;
                padding-top: 20px;
                font-size: 20px;
            }
    </style>
    <head>
        <title>FreelanceLot</title>
        <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/owner.js")'></script>
    </head>
    <body data-ws-url="@routes.HomeController.ws3.webSocketURL(request)">
        <center><h2>Owner</h2></center>
       <!-- <div id="user"></div>-->
        <div id="divUsertest"></div>
        <div id="divtest"></div>

    </body>
</html>